/* ==========================================================================
<<<<<<< HEAD
Author's custom styles
========================================================================== */

h1 
{ 
    font-size: 24pt;
    color: #369; 
    text-align: center;
}

.texto
{
    text-align: center;
    font-size: 16pt;
}


/* ==========================================================================
Area Alumnos
========================================================================== */   

legend#TituloArea
{
    font-size: 18pt;                
    color: #369; 
    text-align: center;
}

div#tablaProvisional
{
    padding-top: 4%;
    padding-left: 3%;
    padding-right: 3%;        
}

div label
{        
    padding-bottom: 20px;
    padding-right: 15px;
    color: #369;
}

caption
{   
    color: #368;
    font-size: 16px;
}

th
{   
    color: #369;
    font-size: 16px;
}

/* ==========================================================================
Area Archivos
========================================================================== */   

caption
{
    padding-bottom: 20px;
    font-size: 20px;
}

a#abrirArchivo
{    
}

div#fecha
{
    padding: 10px;
}   

.color_fondo
{
    background: gray;
}


img#imageUser
{
    padding-bottom: 2% 
}

div#clonarCurso
{
    float: right;   
}

div p
{
    font-size: 30pt;                
    color: #368; 
    text-align: center;
}

table#listaAsistencia
{
    border: 1px;
    border color: #F00;

}

label#labelArchivo
{
    text-align: left;
    padding-left: 10%;
}

div#Examinar
{
    text-align: left;
    padding-left: 10%;
}

.bordering
{
    border: none;
}
=======
Author's custom styles
========================================================================== */

h1 
{ 
    font-size: 24pt;
    color: #369; 
    text-align: center;
}

.texto
{
    text-align: center;
    font-size: 16pt;
}


/* ==========================================================================
Area Alumnos
========================================================================== */   

legend#TituloArea
{
    font-size: 18pt;                
    color: #369; 
    text-align: center;
}

div#tablaProvisional
{
    padding-top: 4%;
    padding-left: 3%;
    padding-right: 3%;        
}

div label
{        
    padding-bottom: 20px;
    padding-right: 15px;
    color: #369;
}

caption
{   
    color: #368;
    font-size: 16px;
}

th
{   
    color: #369;
    font-size: 16px;
}


div#formularioAlumno
{
    text-align: center;
}
    
div#ApectosEvaluacion
{
    width: 40%;
}


.posicionElementos
{
    text-align: center;
}